/ - if Enjoy::Feedback.config.breadcrumbs_on_rails_support
/   = render partial: "blocks/breadcrumbs"
  
= render 'shared/obj', obj: @seo_page

#enjoy_feedback_contact_form
  = render partial: "enjoy/feedback/contacts/form"
